* {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #8181ff;
}

.page-wrapper {
	display: flex;
	flex-direction: column;	
	width: 100vw;
	height: 100vh;
}
.page-content {
	flex-grow: 1;
	overflow: auto;
	padding: 0em;
	display: flex;
	flex-flow: column;
}
.page-content > * {
	flex-grow: 1;
}
.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;;
}

form {
	padding: 0.5em;
}

form label {
	display: block;
	width: 20em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 0.1em;
}

#trade-offer-form label {
	width: initial;
}

form textarea,
form input[type="password"],
form input[type="text"]{
	display: inline-block;
	padding: 0.5em;
	width: 12em;
	margin-left: 0.5em;
}


.user-role-table th,
.user-role-table td {
	padding: 0.3em;
	text-align: center;
	font-size: 14px;
	border: 1px solid black;
}

.user-role-table caption {
	text-align: left;
	font-weight: bold;
	font-size: 16px;
}

.user-role-table td:nth-child(odd) {
	background-color: #0039fe1a;
}

.user-role-table tr:nth-child(odd) {
	background-color: lightgrey;
}

.user-role-table thead tr {
	background-color: grey !important;
}

.user-role-table table {
	border-collapse: collapse;
}

.user-role-table input[type="submit"],
.user-role-table input[type="button"],
.user-role-table button {
	padding: 0.5em;
	min-width: 8em;
}

.centered-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#placeholder-resource-pull-button,
.hidden {
	display: none;
}
.login-background {
	background-color: black;
	color: white;
}

.screen-fit {
	width: 100vw;
	height: 100vh;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.registration-page.custom-form > label,
.login-form .action-group {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.3em;
}

.login-form label {
	max-width: 12em;
	margin-left: -12em;
}

.navigate-button {
	border: none;
	text-decoration: underline;
	color: lightblue;
	background: none;
	font-size: 1.2em;
}
.navigate-button:hover {
	text-decoration: underline white;
	cursor: pointer;
}
.registration-submit,
.login-submit,
.submit-link {
	color: white;
	font-size: 1.1em;
	margin-top: 0.5em;
	padding: 0px;
	background: none;
	border: none;
	text-decoration: underline;
}

.registration-submit:hover,
.login-submit:hover,
.submit-link:hover {
	cursor: pointer;
	color: #01bdff;
}

.view-registration-page {
	margin-bottom: 2em;
}
.page-headline {
}
.headline-subtitle {
	font-size: 0.8em;
	margin-bottom: 2em;
}
.sortable-table {
	border-collapse: collapse;
}

.sortable-table th,
.sortable-table td {
	padding: 0.5em;
}
.sortable-table th {
	border-bottom: 2px solid black;
}
.sortable-table td {
	border-bottom: 1px solid black;
}
.sortable-table tbody tr:nth-child(even) {
	background-color: lightgrey;
}
.selected-table-page {
	color: red;
}
.sortable-table-controls {
	display: inline-flex;
	flex-direction: row;
	justify-content:  space-around;
}

.sortable-table-controls .control-handle {
	flex-grow: 1;
}
.sortable-table-controls .direct-page > a{
	margin-left: 5px;
}
.sortable-table-controls .control-handle:last-child {
	text-align: left;
}
.sortable-table-controls .control-handle:first-child {
	text-align: right;
}
.sortable-table-controls > .fill {
	margin: 0em 0.5em;
}
.sortable-table-wrapper {
	display: inline-flex;
	flex-direction: column;
}
.sortable-table-action:not(:last-child) {
	margin-right: 0.5em;
}
.sortable-table-action {
	font-weight: bold;
	font-size: 1.5em;
}
.hide {
	display: none;
}

.collapsible {
	border-bottom: 2px solid black;
	background-color: lightgrey;
	box-shadow: 1px 1px 5px black;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 0.5em;
}
.collapsible-title,
.collapsible {

}
.collapsible-title {
	border: 2px solid black;
	font-size: 1.2em;
	display: block;
	padding: 0.5em;
	color: black;
	font-weight: bold;
	box-shadow: 1px 1px 5px black;
	margin-top: 0.3em;
	margin-left: 0.3em;
	margin-right: 0.3em;
	cursor: pointer;
}
.collapsible-title:hover {
	border: 2px solid royalblue;
}
.collapsible-title::before {
	color: royalblue;
	margin-right: 1em;
}